.container-fluid{
    margin: 60px auto;
}

.footer{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    height: 30px;
}

.footerButtons{
    font-family: "Helvetica Rounded";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.61);
    background: none;
    border: none;
    text-align: center;
}

#editor{
    height: 400px;
    width: 50%;
    margin: 0 auto;
    border: none;
}

#toolbar{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #d1d1d1;
}
